{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <article class="post-preview">
        <a href="{% url 'post_detail' pk=post.pk %}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.text|truncatewords_html:30}}</h3>
        </a>
        <p class="post-meta">Posted by
            {{ post.author }}
            no dia {{ post.published_date }}
         </p>
            <!--<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>-->
    </article>
    <hr/>
    {% endfor %}
{% endblock %}